<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title></title>
		<script src="js/vue.js" type="text/javascript" charset="utf-8"></script>
		<style>
		#pan{
			width: 200px;
			height: 200px;
			background-color: antiquewhite;
		}
		</style>
	</head>
	<body>
		<div id='user'>
			<h1>用户名：{{username}}</h1>
			<h2 v-if="isvip">用户类型：VIP</h2>
			<h2 v-else>用户类型：普通用户</h2>
			<h3 v-if='age>17'>登录时间8小时</h3>
			<h3 v-else-if="age>13">登录时间6小时</h3>
			<h3 v-else="age>8">登录时间4小时</h3>
			<div id="pan" v-show="isShow">
				<p>show</p>
			</div>
			<button @click="showpan">点击切换页面信息</button>
			<input type="checkbox" id="checkbox" v-model="checked">
			<label for="checkbox">{{ checked }}</label>
			<input type="checkbox" id='checked1' v-model="checked1" true-value='yes' false-value='no' />
			<label for="checked1">{{checked1}}</label>
			<input type="number" />
			<br/>
			<blog-post title="jnsndkjfghjb"></blog-post>
		</div>
		<script type="text/javascript">
		let user=new Vue({
			el:'#user',
			data:{
				username:"cjr",
				isvip:true,
				age:18,
				isShow:true,
				checked:false,
				checked1:''
			},
			methods:{
				showpan:function(){
					user.isShow=!user.isShow 
				}
			}
			
			
		})
		Vue.component('blog-post',{
			props:["title"],
			template:"<h3>{{title}}</h3>"
		})
		</script>
	</body>
</html>
